@use "../../lib/service.scss" as service;




.header {
	@extend .section;
	background-color: service.color('backgroundDark');
}

.header__content {
	@extend .section__content;
	
	display: flex;
	padding: service.space(4) 0;
	justify-content: space-between;
}

.header__block {
	display: flex;
	gap: service.space(8);
	align-items: center;
}

.header__icon {
	@include service.click;
}

.header__link {
	@include service.click;
	color: service.color('whiteLight');
	font-size: service.size('small');
}

.advertising {
	@extend .section;
	background-color: service.color('white');
	gap: service.space(5);
	align-items: center;
	margin: 0 auto;
}

.advertising__title {
	font-size: 14px;
	color: service.color('fontDark');
}

.product {
	@extend .section;
	padding-top: service.space(20);
	padding-bottom: service.space(20);
	background-repeat: no-repeat;
	background-position: bottom center;
}

.product__content{
	display: grid;
	gap: service.space(5);
	text-align: center;
	align-content: center;
}

.product__title {
	font-size: 56px;
	font-weight: 600;
}

.product__description {
	font-size: 28px;
}

.product__action {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: service.space(5);

	@include service.click;
}

.product__link {
	@include service.linkAction;
}

.product--big {
	max-height: 700px;
	height: 100vh;

	background-size: cover;
	
@media all and (width < service.screen('tablet')) {
	background-size: 150%;
	max-height: 500px;
}
}

.product--small {
	max-height: 580px;
	height: 100vh;

	background-size: cover;

	.product__title {
		font-size: 40px;
	}

	.product__description {
		font-size: 20px;
	}
	
@media all and (width < service.screen('tablet')) {
	background-size: 150%;
	max-height: 500px;
}
}

.product--dark {
	background-color: #000;
	.product__title, .product__description {
		color: service.color('background');
	}
}

.product--light {
	background-color: #fff;
	.product__title, .product__description {
		color: service.color('fontDark');
	}
}

.product--top {
	.product__content{
	align-content: flex-start;
}
}

.product--bottom {
	.product__content{
	align-content: flex-end;
}
}

$productImage: (
	'iphone_pro' '/img/iphone_pro.png' #000,
	'iphone' '/img/iphone.png' #fafafa,
	'iwatch' '/img/iwatch.png' #000,
	'trade_in' '/img/trade-in.png' #fbfbfd,
	'conference' '/img/conference.png' #000,
	'ipad' '/img/ipad.png' #fbfbfb,
	'small_business' '/img/small_business.png' #000,
	'gift' '/img/gift.png' #fbfbfd,
	'card' '/img/card.png' #fbfbfd,
	);

@each $class, $url, $color in $productImage {
	.product--#{$class} {
		background-image: url(#{$url});
		background-color: $color;
	}
}

.footer {
	@extend .section;
	background-color: service.color('background');
	margin: 0 auto;
	margin-top: service.space(10);
	margin-bottom: service.space(10);
	
}

.footer__content {
	@extend .section__content;
	
	display: grid;
	padding: service.space(4) 0;
	grid-template-columns: repeat(6, 1fr);
	gap: service.space(5);
	

	@media all and (width < service.screen('tablet')) {
		grid-template-columns: repeat(3, 1fr);
	}

	@media all and (width < service.screen('mobile')) {
		grid-template-columns: repeat(2, 1fr);
	}
}

.footer__block {
	display: flex;
	flex-direction: column;
	justify-items: center;
	gap: service.space(3);
	
	.footer__title {
		color: service.color('fontDark');
		font-size: service.size('small');
		font-weight: 600;
		margin-bottom: service.space(2);
	}

	.footer__link {
	@include service.click;
	color: #424245;
	font-size: service.size('small'); 
	}

}